<!DOCTYPE html>
<html>
    {{>header}}    
    <body>
        <nav class="navbar navbar-expand-sm bg-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Admin Login</a>
                </li>
            </ul>
        </nav>
        <br>

        <div class="container-fluid">
            <div class="headerContainer">
                <h1>Live Noise Monitoring</h1>
            </div>

            {{#each data as |item|}}
            <div class = "graphMainContainer">
                <div class="row">
                    <div class="col-sm-2"><p> <label class="font-weight-bold">  NTi Meter Location:</label> {{item.name}}</p></div> 
                    <div class="col-sm-10"><p> <label class="font-weight-bold"> NTi Meter Serial No:</label> {{item.netBoxSerialNumber}} </p></div>
                </div>
                <div class = "graphContainer" id= "graphContainer{{@index}}"></div>
            </div>  
            <br>
            {{/each}}

            <script>
                function timedRefresh(timeoutPeriod) {
                    setTimeout("location.reload(true);",timeoutPeriod);
                }
                window.onload = timedRefresh(300000);   // Reload page
                
                var layout = {
                    title: 'Continuous Sound Level',
                    showlegened: 'false',
                    yaxis:{
                        title:'Sound Level (dBA)',
                        range:[20,90],
                        mirror: true,
                        showline:true
                    },
                    xaxis:{
                        title:'Time',
                        mirror: true,
                        showline:true
                    }
                }
                var graphContainer;
                var flag;
                {{#each data as |item|}}
                        graphContainer = document.getElementById("graphContainer{{@index}}");
                        flag = {{item.flag}};
                        if(flag == 1){
                        Plotly.plot(graphContainer, [{
                            x: [{{{item.data_x}}}],
                            y: [{{item.data_y}}],
                            margin: { t: 0 },
                            type:'Line'} ],layout);         
                        }else if(flag == 0){
                        Plotly.plot(graphContainer, [{
                            x: [],
                            y: [],
                            margin: { t: 0 },
                            type:'Line'} ],layout);                             
                        }
                {{/each}}
                //var interval = setInterval(function(){
                //    Plotly.extendTraces('graphContainer', { y: [[getRandomData()]] }, [0])
                //},200);
            </script>
        </div>
        
    </body>
</html>


