<!DOCTYPE html>
<html>
    {{>header}}   
    <body>
        <nav class="navbar navbar-expand-sm bg-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Admin Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Live Graph</a>
                </li>
            </ul>
        </nav>
        <br>
        <div class="container-fluid">
            <div class="headerContainer">
                <h1>Live Noise Monitoring</h1>
            </div>

            <div class = "wait">
                <div class="row">
                    <div class="col-sm-2">
                        <h3> Available Meters...</h3>
                    </div>
                    <div class="col-sm-10">
                        <p>Meter Location (e.g. Facility Fenceline, Residence R01 etc.)</p>
                    </div>
                </div>
                <div class="row">
                    {{#each meterInfo as |item|}}
                    <div class="col-sm-3">
                        <input type="checkbox" name="choice{{@index}}" id="choice{{@index}}" value="{{{item.netBoxSerialNumber}}}">  {{item.netBoxSerialNumber}}  ({{item.meterName}})
                    </div>
                    <div class="col-sm-3">
                        <label for="location_choice{{@index}}">Location: </label>
                        <input type="text" name="location_choice{{@index}}" id="location_choice{{@index}}" value="" disabled>  
                    </div>
                    <div class="col-sm-3">
                        <label for="lat_choice{{@index}}">Latitude: </label>
                        <input type="text" name="lat_choice{{@index}}" id="lat_choice{{@index}}" value="" disabled>  
                    </div>
                    <div class="col-sm-3">
                        <label for="long_choice{{@index}}">Longitude: </label>
                        <input type="text" name="long_choice{{@index}}" id="long_choice{{@index}}" value="" disabled>  
                    </div>

                    {{/each}}
                </div>
                <p id="error_message"></p>
                <input type="button" id="button_update_meter_list" value="Update Meter List">

            </div> 
            <script>
                $(":checkbox").change(function(){
                    var id = $(this).attr('id');
                    $("#location_"+id).prop('disabled',!$(this).is(":checked"));
                    $("#lat_"+id).prop('disabled',!$(this).is(":checked"));
                    $("#long_"+id).prop('disabled',!$(this).is(":checked"));
                });
                
                $(document).ready(function(){
                    var socket = io();
                    $("#button_update_meter_list").click(function(){
                        
                        var isEmptyFlag = false;
                        var sn=[];
                        var loc=[];
                        var lat=[];
                        var long=[];
                        var cnt = 0;

                        $(":checkbox").each(function(index,value){
                            if($(this).is(":checked")){
                                cnt = cnt + 1;
                                var id = $(this).attr('id');
                                sn.push($(this).val());
                                loc.push($("#location_"+id).val());
                                lat.push($("#lat_"+id).val());
                                long.push($("#long_"+id).val());
                            }
                        });

                        for (var i=0; i< sn.length; i++){
                            if(loc[i]==""){
                                isEmptyFlag = true;
                                break;   
                            }
                        }

                        if(isEmptyFlag == true || cnt ==0){
                            if($("#error_message").hasClass("text-success")){
                                $("#error_message").removeClass("text-success");
                            }
                            $("#error_message").addClass("text-danger");
                            $("#error_message").text("Please select meter(s) and/or provide location info (e.g. Facility Fenceline, Residence R01 etc.)");   
                        }else{
                            $("#error_message").text("");
                            socket.emit('update_meter_list',{sn,loc,lat,long});
                        }
                                 
                    });

                    socket.on('meter_list_update_successful',function(data){
                        if($("#error_message").hasClass("text-danger")){
                            $("#error_message").removeClass("text-danger");
                        }
                        $("#error_message").addClass("text-success");
                        $("#error_message").text(data);
                    });

                    socket.on('meter_list_update_failed',function(data){
                        if($("#error_message").hasClass("text-success")){
                            $("#error_message").removeClass("text-success");
                        }
                        $("#error_message").addClass("text-danger");
                        $("#error_message").text(data);
                    });

                });
            </script>
        </div>
    </body>
</html>
